# Ignore environment files
.env

# Ignore Google API credentials
client_secrets.json

# Ignore virtual environments
.venv/
venv/

# Ignore compiled Python files
__pycache__/
*.py[cod]git rm -r --cached .venv/
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore MacOS system files
.DS_Store.venv/

# VS Code settings
.vscode/

# Logs
logs/
*.log

# Temporary files
tmp/